<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CodePen - Technical Exercise</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.min.css'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <div id="app">
    <div class="ui container">
      <div class="ui raised padded text container segment">
        <table id="fileTable" class="ui sortable celled single line table">
          <thead>
            <tr>
              <th colspan="2">
                <input type="checkbox" id="selectAllCheckbox" @click="toggleAllCheckboxes($event)" />
                {{selectedText}}
              </th>
              <th colspan="2">
                <button class="ui large primary button" :class="{ loading: buttonLoading }"
                  @click="validateDownloadSelections">
                  <i class="download icon"></i>
                  {{downloadIconText}}
                </button>
              </th>
            </tr>
          </thead>
          <thead>
            <tr>
              <th></th>
              <th @click="sort('name')">Name</th>
              <th @click="sort('device')">Device</th>
              <th @click="sort('path')">Path</th>
              <th @click="sort('status')">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in sortedTableData" v-bind:key="item">
              <td><input type="checkbox" name="file" @click="handleClick($event)"></td>
              <td>{{item.name}}</td>
              <td>{{item.device}}</td>
              <td>{{item.path}}</td>
              <td><span v-if="item.status === 'available'" class="dot"></span> {{formatStatus(item.status)}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-if="warningVisible" class="ui warning message">
        <i class="close icon" @click="closeNotification"></i>
        <div class="header">No files selected!</div>
        Reselect your files, then try again.
      </div>
      <div v-if="errorVisible" class="ui negative message">
        <i class="close icon" @click="closeNotification"></i>
        <div class="header">Only files marked "Available" can be downloaded!</div>
        Reselect your files, then try again.
      </div>
      <div v-if="successVisible" class="ui positive message">
        <i class="close icon" @click="closeNotification"></i>
        <div class="header">Files selected for download:</div>
        <div class="ui list">
          <div class="item">
            <div class="right floated content"><strong>Device</strong></div>
            <div class="content"><strong>Path</strong></div>
          </div>
        </div>
        <div class="ui list" v-for="file in selectedFiles">
          <div class="item">
            <div class="right floated content">
              <div>{{file.device}}</div>
            </div>
            <div>{{file.path}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
  <script src="./script.js"></script>
</body>

</html>